## Installing necessary libraries

In [1]:
!pip install docx2txt

Requirement already satisfied: docx2txt in c:\users\nzaki\anaconda3\lib\site-packages (0.8)

In [2]:
!pip install strsimpy

Requirement already satisfied: strsimpy in c:\users\nzaki\anaconda3\lib\site-packages (0.2.1)

In [3]:
!pip install docx2csv

Requirement already satisfied: docx2csv in c:\users\nzaki\anaconda3\lib\site-packages (0.1.0)
Requirement already satisfied: click in c:\users\nzaki\anaconda3\lib\site-packages (from docx2csv) (8.0.3)
Requirement already satisfied: python-docx in c:\users\nzaki\anaconda3\lib\site-packages (from docx2csv) (0.8.11)
Requirement already satisfied: openpyxl in c:\users\nzaki\anaconda3\lib\site-packages (from docx2csv) (3.0.9)
Requirement already satisfied: xlwt in c:\users\nzaki\anaconda3\lib\site-packages (from docx2csv) (1.3.0)
Requirement already satisfied: colorama in c:\users\nzaki\anaconda3\lib\site-packages (from click->docx2csv) (0.4.4)
Requirement already satisfied: et-xmlfile in c:\users\nzaki\anaconda3\lib\site-packages (from openpyxl->docx2csv) (1.1.0)
Requirement already satisfied: lxml>=2.3.2 in c:\users\nzaki\anaconda3\lib\site-packages (from python-docx->docx2csv) (4.6.3)

In [4]:
# extract tables from word document
from docx2csv import extract_tables, extract
tables = extract_tables('lists-sec.docx')

In [5]:
from docx import Document
document = Document("lists-sec.docx")

In [6]:
def read_docx_table(document,table_num):
  table = document.tables[table_num-1]
  data = [[cell.text for cell in row.cells] for row in table.rows]
  df = pd.DataFrame(data)
  return df

In [7]:
# importing necessary libraries
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np

## PLO TABLE

In [8]:
# Creating a dataframe for PLOs and it will accept 'n' number of PLOs
table_num=1
df = read_docx_table(document,table_num)
df.head()

    0                                                  1
0  P1  Analyze a complex computing problem and to app...
1  P2  Design, implement, and evaluate a computing-ba...
2  P3  Communicate effectively in a variety of profes...
3  P4  Recognize professional responsibilities and ma...
4  P5  Function effectively as a member or leader of ...

In [9]:
q1 = df.copy()

In [10]:
# assigning count vectorizer
count_vectorizer = CountVectorizer(stop_words='english', min_df=0.005)

In [11]:
# Data preprocessing for PLO dataframe
q1[1] = q1[1].str.lower()
corpus = q1[1].tolist()
corpii = count_vectorizer.fit_transform(corpus)

In [12]:
corpii

<6x49 sparse matrix of type '<class 'numpy.int64'>'
	with 61 stored elements in Compressed Sparse Row format>

In [13]:
# extracting features names from PLO table
feature_names = count_vectorizer.get_feature_names()
feature_names

C:\Users\nzaki\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['activities',
 'analyze',
 'apply',
 'appropriate',
 'based',
 'communicate',
 'complex',
 'computer',
 'computing',
 'context',
 'contexts',
 'design',
 'development',
 'discipline',
 'disciplines',
 'effectively',
 'engaged',
 'ethical',
 'evaluate',
 'function',
 'fundamentals',
 'given',
 'identify',
 'implement',
 'informed',
 'judgments',
 'leader',
 'legal',
 'make',
 'meet',
 'member',
 'practice',
 'principles',
 'problem',
 'produce',
 'professional',
 'program',
 'recognize',
 'relevant',
 'requirements',
 'responsibilities',
 'science',
 'set',
 'software',
 'solution',
 'solutions',
 'team',
 'theory',
 'variety']

In [14]:
len(feature_names)

49

In [15]:
# Converting features to vector form and create a dataframe
X1 = pd.DataFrame(corpii.toarray(), columns=feature_names)

## CLO TABLE

In [16]:
# Creating a dataframe for CLOs and it will accept 'n' number of CLOs
table_num=2
df1 = read_docx_table(document,table_num)
p1 = df1.copy()

In [17]:
# Data preprocessing for CLO dataframe
p1[1] = p1[1].str.lower()
corpus11 = p1[1].tolist()
corpii11 = count_vectorizer.fit_transform(corpus11)

In [18]:
# extracting features names from CLO table
feature_names1 = count_vectorizer.get_feature_names()

In [19]:
len(feature_names1)

328

In [20]:
# Converting features to vector form and create a dataframe
X2 = pd.DataFrame(corpii11.toarray(), columns=feature_names1)

In [21]:
X2.head()

,accuracy,ai,algebra,algorithm,algorithmic,algorithms,analysis,analyze,analyzing,animation,...,visualize,web,work,workers,working,workplace,write,writing,written,xml
0,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [22]:
# adding column index to the CLO table
U2 = pd.concat([df1[0], X2], axis=1)
U2.set_index(0, inplace=True)

In [23]:
U2.head()

,accuracy,ai,algebra,algorithm,algorithmic,algorithms,analysis,analyze,analyzing,animation,...,visualize,web,work,workers,working,workplace,write,writing,written,xml
0,,,,,,,,,,,,,,,,,,,,,
C1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
C2,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
C3,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
C4,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
C5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [24]:
# adding column index to the PLO table
U1 = pd.concat([df[0], X1], axis=1)
U1.set_index(0, inplace=True)

In [25]:
U1

,activities,analyze,apply,appropriate,based,communicate,complex,computer,computing,context,...,requirements,responsibilities,science,set,software,solution,solutions,team,theory,variety
0,,,,,,,,,,,,,,,,,,,,,
P1,0,1,1,0,0,0,1,0,2,0,...,0,0,0,0,0,0,1,0,0,0
P2,0,0,0,0,1,0,0,0,2,1,...,1,0,0,1,0,1,0,0,0,0
P3,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
P4,0,0,0,0,1,0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0
P5,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
P6,0,0,1,0,1,0,0,1,1,0,...,0,0,1,0,1,0,1,0,1,0

## Intersection method for both CLOs and PLOs

### Generalised list of words

In [26]:
append_words = list(map(str.lower,['Cite', 'Define', 'Describe', 'Draw', 'Enumerate', 'Identify' 'Index', 'Indicate', 'Label', 'List', 'Match', 'Meet', 'Name', 'Outline', 'Point', 'Quote', 'Read', 'Recall', 'Recite', 'Recognize', 'Record', 'Repeat', 'Reproduce','Review',
'Select', 'State', 'Study', 'Tabulate', 'Trace', 'Write', 'Add', 'Approximate', 'Articulate', 'Associate', 'Characterize', 'Clarify', 'Classify', 'Compare', 'Compute', 'Contrast', 'Convert', 'Defend', 'Detail', 'Differentiate',
'Discuss', 'Distinguish', 'Elaborate', 'Estimate', 'Example', 'Explain', 'Express', 'Extend', 'Extrapolate', 'Factor', 'Generalize', 'Give', 'Infer', 'Interact', 'Interpolate', 'Interpret', 'Observe', 'Paraphrase', 'Picture graphically',
'Predict', 'Rewrite', 'Subtract', 'Summarize', 'Translate', 'Visualize', 'Acquire', 'Adapt', 'Allocate', 'Alphabetize', 'Apply', 'Ascertain', 'Assign', 'Attain', 'Avoid', 'Back up', 'Calculate', 'Capture', 'Change', 'Complete', 'Construct', 
'Customize', 'Demonstrate', 'Depreciate', 'Derive', 'Determine', 'Diminish', 'Discover', 'Employ', 'Examine', 'Exercise', 'Explore', 'Expose', 'Figure', 'Graph', 'Handle', 'Illustrate', 'Interconvert', 'Investigate', 'Manipulate', 'Modify', 
'Operate', 'Personalize', 'Plot','Practice', 'Prepare', 'Price', 'Process', 'Produce', 'Project', 'Provide', 'Relate', 'Round off', 'Sequence', 'Show', 'Simulate', 'Sketch', 'Solve', 'Subscribe', 'Transcribe', 'Use', 'Analyze', 'Audit', 
'Blueprint', 'Breadboard', 'Break down', 'Confirm', 'Correlate', 'Detect', 'Diagnose', 'Diagram', 'Discriminate', 'Dissect', 'Document', 'Ensure', 'Figure out', 'File', 'Group', 'Interrupt', 'Inventory', 'Layout', 'Manage', 'Maximize', 
'Minimize', 'Optimize', 'Order', 'Point out', 'Prioritize', 'Proofread', 'Query', 'Separate', 'Subdivide', 'Train', 'Transform', 'Appraise', 'Assess', 'Conclude', 'Counsel', 'Criticize', 'Critique', 'Evaluate', 'Grade', 'Hire', 'Judge', 
'Justify', 'Measure', 'Prescribe', 'Rank', 'Rate', 'Recommend', 'Release', 'Support', 'Test', 'Validate', 'Verify', 'Abstract', 'Animate', 'Arrange', 'Assemble', 'Budget', 'Categorize', 'Code', 'Combine', 'Compile', 'Compose', 'Cope', 
'Correspond', 'Create', 'Cultivate', 'Debug', 'Depict', 'Design', 'Develop', 'Devise', 'Dictate', 'Enhance', 'Facilitate', 'Format', 'Formulate', 'Generate', 'Import', 'Improve', 'Incorporate', 'Integrate', 'Interface', 'Join', 'Lecture', 
'Model', 'Network', 'Organize', 'Overhaul', 'Plan', 'Portray', 'Program', 'Rearrange', 'Reconstruct', 'Reorganize', 'Revise', 'Specify']))

In [27]:
# using + operator to concat the generalised list of words to the PLO list
train_column = feature_names + append_words

In [28]:
# CLO list of words
test_column = feature_names1

In [29]:
# Intersection method for extracting common column names from the tables (both CLO AND PLO)
# comparing whether the CLO column name is present in the PLO column names or not
train_column = feature_names + append_words # (PLO table ) (# using + operator to concat PLO words and list of generalized words)
test_column = feature_names1   # (CLO table)

In [30]:
# This is the column names from both the tables (using intersection)
common_column = list(set(train_column).intersection(set(test_column)))
common_column

['make',
 'use',
 'discover',
 'manipulate',
 'complete',
 'customize',
 'design',
 'process',
 'compare',
 'diagram',
 'science',
 'visualize',
 'estimate',
 'test',
 'translate',
 'outline',
 'layout',
 'appropriate',
 'interface',
 'plan',
 'complex',
 'professional',
 'apply',
 'team',
 'produce',
 'communicate',
 'given',
 'define',
 'select',
 'code',
 'principles',
 'integrate',
 'assess',
 'solve',
 'recognize',
 'fundamentals',
 'problem',
 'evaluate',
 'demonstrate',
 'model',
 'analyze',
 'sequence',
 'solution',
 'program',
 'requirements',
 'prepare',
 'determine',
 'implement',
 'software',
 'effectively',
 'explain',
 'computer',
 'ethical',
 'project',
 'based',
 'query',
 'theory',
 'create',
 'function',
 'identify',
 'development',
 'develop',
 'file',
 'computing',
 'discuss',
 'write']

In [31]:
print(common_column)

['make', 'use', 'discover', 'manipulate', 'complete', 'customize', 'design', 'process', 'compare', 'diagram', 'science', 'visualize', 'estimate', 'test', 'translate', 'outline', 'layout', 'appropriate', 'interface', 'plan', 'complex', 'professional', 'apply', 'team', 'produce', 'communicate', 'given', 'define', 'select', 'code', 'principles', 'integrate', 'assess', 'solve', 'recognize', 'fundamentals', 'problem', 'evaluate', 'demonstrate', 'model', 'analyze', 'sequence', 'solution', 'program', 'requirements', 'prepare', 'determine', 'implement', 'software', 'effectively', 'explain', 'computer', 'ethical', 'project', 'based', 'query', 'theory', 'create', 'function', 'identify', 'development', 'develop', 'file', 'computing', 'discuss', 'write']

In [32]:
len(common_column)

66

In [33]:
# Filter the common column values from the CLO table
U3 = U2.filter(list(common_column), axis=1)

In [34]:
U3.head()

,make,use,discover,manipulate,complete,customize,design,process,compare,diagram,...,theory,create,function,identify,development,develop,file,computing,discuss,write
0,,,,,,,,,,,,,,,,,,,,,
C1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
C2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
C3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
C4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
C5,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [35]:
# extracting first row from PLO table and make a dataframe
Cs = []
for x in range(len(df)):
    Cs.append(U1.loc[['P'+str(x+1)]])

In [36]:
# Concatenating these extracted each PLOs with 'n' number of CLOs
Dds = []
for x in range(len(df)):
    Dds.append(pd.concat([Cs[x],U3], sort=True))

In [37]:
# Filling the nan values of the concatenated dataframes
Ds = []
for x in range(len(df)):
    Ds.append(Dds[x].fillna(0))

## Calculate Cosine similarity

In [38]:
# Calculate cosine similarity for concatenated dataframes and create a new dataframe
for x in range(len(df)):
    Dds[x] = pd.DataFrame(cosine_similarity(Ds[x], dense_output=True))

In [39]:
# Extract the '0'th column because it has the CLO-PLO  cosine similarity values. We are neglecting the remaining ones.
# Renaming the '0'th column name to 'Pn' ['P1, P2, P3, P4, ... 'Pn']
for x in range(len(df)):
    Dds[x].rename(columns = {0 :'P'+str(x+1)}, inplace = True)

In [40]:
# Concatenating each  '0'th column from different cosine similarity dataframes
Ddn = []
for x in range(len(df)):
    Ddn.append(Dds[x]['P'+str(x+1)])

d = pd.concat(Ddn, axis=1)

In [41]:
# '0'th column gives us 1 which means each PLO map with own PLO.
# So we are removing that column.
dd = d[1:]

In [42]:
# resetting index
dd.reset_index(inplace = True)
dd.drop(['index'], axis=1, inplace = True)

C:\Users\nzaki\anaconda3\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [43]:
# store the matrix into csv file
dd.to_csv('pseudocodematrix.csv', index=False)

In [44]:
# print the matrix
print(dd)

           P1        P2        P3        P4        P5        P6
0    0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
1    0.277350  0.000000  0.000000  0.000000  0.000000  0.301511
2    0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
3    0.160128  0.144338  0.000000  0.000000  0.000000  0.000000
4    0.160128  0.000000  0.000000  0.166667  0.000000  0.000000
..        ...       ...       ...       ...       ...       ...
127  0.000000  0.000000  0.223607  0.144338  0.158114  0.000000
128  0.196116  0.441942  0.000000  0.102062  0.111803  0.319801
129  0.124035  0.000000  0.000000  0.000000  0.000000  0.539360
130  0.000000  0.000000  0.000000  0.000000  0.000000  0.348155
131  0.000000  0.000000  0.258199  0.000000  0.365148  0.000000

[132 rows x 6 columns]

## Setting threshold value (taking min and max of each column and divided by 2)
## threshold value = (min +max)/2

In [45]:
# Setting threshold value 
# Taking min max average of each column and set that as a threshold value
for x in range(len(df)):
    tes = dd['P'+str(x+1)].values.min()
    tes1 = dd['P'+str(x+1)].values.max()
    tt1 = (tes+tes1)/2
    if tt1 == 0:
      dd['P'+str(x+1)] = dd['P'+str(x+1)] 
    else:
      dd['P'+str(x+1)] = dd['P'+str(x+1)].apply(lambda x: 1 if x >= tt1 else 0)

C:\Users\nzaki\AppData\Local\Temp/ipykernel_15072/3147605463.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dd['P'+str(x+1)] = dd['P'+str(x+1)].apply(lambda x: 1 if x >= tt1 else 0)

In [46]:
dd.to_csv('PLO-CLOmapping.csv', index=False)

In [47]:
dd.head()

   P1  P2  P3  P4  P5  P6
0   0   0   0   0   0   0
1   1   0   0   0   0   1
2   0   0   0   0   0   0
3   0   0   0   0   0   0
4   0   0   0   1   0   0

In [48]:
# human generated output
d= pd.read_csv('original.csv')
d.head()

   P1  P2  P3  P4  P5  P6
0   0   0   0   0   0   0
1   0   0   0   0   0   1
2   0   1   0   0   0   0
3   0   1   0   0   0   0
4   0   0   0   0   0   0

In [49]:
df3 = d.copy()

In [50]:
for x in range(len(df)):
  df3['P'+str(x+1)] = np.where(dd['P'+str(x+1)] == df3['P'+str(x+1)], 'True', 'False')

In [51]:
df3.head()

      P1     P2    P3     P4    P5    P6
0   True   True  True   True  True  True
1  False   True  True   True  True  True
2   True  False  True   True  True  True
3   True  False  True   True  True  True
4   True   True  True  False  True  True

In [52]:
for x in range(len(df)):
  df3['P'+str(x+1)] = df3['P'+str(x+1)].replace('True', 1)
  df3['P'+str(x+1)] = df3['P'+str(x+1)].replace('False', 0)

In [53]:
df3.head()

   P1  P2  P3  P4  P5  P6
0   1   1   1   1   1   1
1   0   1   1   1   1   1
2   1   0   1   1   1   1
3   1   0   1   1   1   1
4   1   1   1   0   1   1

In [54]:
# calculating accuracy of the table
df3['acc'] = df3.mean(axis=1)
df3.head()

   P1  P2  P3  P4  P5  P6       acc
0   1   1   1   1   1   1  1.000000
1   0   1   1   1   1   1  0.833333
2   1   0   1   1   1   1  0.833333
3   1   0   1   1   1   1  0.833333
4   1   1   1   0   1   1  0.833333

In [55]:
df4 = pd.concat([df1[0], df3], axis=1)
df4.head()

    0  P1  P2  P3  P4  P5  P6       acc
0  C1   1   1   1   1   1   1  1.000000
1  C2   0   1   1   1   1   1  0.833333
2  C3   1   0   1   1   1   1  0.833333
3  C4   1   0   1   1   1   1  0.833333
4  C5   1   1   1   0   1   1  0.833333

In [56]:
df4.set_index(0, inplace=True)
df4.head()

    P1  P2  P3  P4  P5  P6       acc
0
C1   1   1   1   1   1   1  1.000000
C2   0   1   1   1   1   1  0.833333
C3   1   0   1   1   1   1  0.833333
C4   1   0   1   1   1   1  0.833333
C5   1   1   1   0   1   1  0.833333

In [57]:
df4['acc'].mean()

0.8345959595959591